@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ls-chartjs-pie,
  ls-chartjs-bar,
  ls-chartjs-line,
  ls-chartjs-multiple-xaxis,
  ls-chartjs-bar-horizontal,
  ls-chartjs-radar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;

    ::ng-deep chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
