<div class="header-container">
    <div class="logo-container">
      <a class="linked-header" routerLink = "/ls" >Linked<span class = "header-scholar">Scholar</span></a>
    </div>
    
    <div class="links-container">
        <div *ngFor="let link of links; let i = index" [routerLink]="link.url" routerLinkActive="active">
            <p>{{link.title}}</p>
        </div>
    </div>
    
    <div style="display: flex; flex-direction: row; gap: 20px; align-items: center; justify-content: center;">
        <div style="gap: 10px;">
            <button nbButton class="theme-toggle" (click)="toggleTheme()" status = "primary" ghost>
                <nb-icon [icon]="currentTheme === 'dark' ? 'sun-outline' : 'moon-outline'"></nb-icon>
            </button>
        </div>
        <nb-actions size="small">
            <nb-action class="user-action">
                <nb-user
                size="large"
                name="John Doe"
                title="EULiST member"
                badgeText="user"
                badgeStatus="info"
                badgePosition="bottom right"/>
            </nb-action>
        </nb-actions>
        
    </div>
</div>
