<h3>Prompt your project</h3>
<h5>Description:</h5>
<textarea rows="5" nbInput fullWidth placeholder="Description" [(ngModel)]="description" shape="round" style="resize: none;"></textarea>
<div style="display: inline-flex; gap: 1rem">
    <h5>Research areas:</h5>
    <button nbButton shape="round" status="info" outline [nbPopover]="researchAreasRef" nbPopoverPlacement="end">+</button>
</div>
<div style="display: flex; flex-wrap: wrap; gap: 0.5rem">
    <ls-tag *ngFor="let tag of promptResearchAreas" [text]="tag.text" [uuid]="tag.uuid" (remove)="removeRATag($event)"></ls-tag>
    <ng-template #researchAreasRef>
        <nb-accordion style="max-height: 30vh; overflow: hidden; overflow-y: auto;">
        <nb-accordion-item *ngFor="let area of researchAreas">
            <nb-accordion-item-header>{{area.title}}</nb-accordion-item-header>
            <nb-accordion-item-body style="padding: 0;">
            <div *ngFor="let subarea of area.children"
                style="padding: 1rem; cursor: pointer;"
                (click)="addResearchArea(area.title, subarea.title)">
                {{subarea.title}}
            </div>
            </nb-accordion-item-body>
        </nb-accordion-item>
        </nb-accordion>
    </ng-template>
</div>
<div style="display: flex; padding: 1rem;">
    <button style="margin: auto;"  shape="round" nbButton status="primary" [disabled]="!isPromptReady()" (click)="prompt()">
        Match EU-fundings
    </button>
</div>