<div class="col lg" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: var(--background-basic-color-2); flex-direction: column; justify-content: center; align-items: center; gap : 1rem; padding: 8rem">
    <h2 class="mb-2" style="text-align: center;">Desktop Experience Required</h2>
    <p class="mb-4" style="text-align: center;">The Research Network Explorer is optimized for desktop screens. Please use a device with a larger screen for the best experience.</p>
    <nb-icon icon="close-outline" style="font-size: 2rem;"></nb-icon>
 </div>