@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';
@import '../../@theme/styles/themes';

// A mixin to define the common style for header links/triggers
@mixin header-link-style {
  font-weight: 700;
  color: nb-theme(text-basic-color);
  font-size: 20px;
}

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
    gap: 20px;

    .solutions-dropdown {
      position: relative;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;

      .solutions-trigger {
        @include header-link-style;
        text-transform: none;
        transition: transform 0.2s ease-in-out;
        font-weight: 500;
        &.open {
          transform: rotate(180deg);
        }
      }

      .solutions-dropdown-content{
        background-color: nb-theme(layout-background-color);
        border-radius: 12px;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.12);
        border: 1px solid rgba(0, 0, 0, 0.06);
        min-width: 320px;
        position: absolute;
        top: calc(100% + #{nb-theme(header-padding)});
        left: 50%;
        transition: all 0.3s ease;
        z-index: 1001;
        transform: translateX(-50%) translateY(-10px);
        opacity: 0;
        visibility: hidden;
        padding: 16px;
        &.show {
          opacity: 1;
          visibility: visible;
          transform: translateX(-50%) translateY(0);
        }
      }
    }

    .linked-header {
      @include header-link-style;
      text-decoration: none;

      .header-scholar {
        color: nb-theme(text-primary-color);
      }
    }
  }

  .header-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: transparent;
  }

  /* Mobile Responsiveness */
  @media (max-width: 768px) {
    /* Hide solutions dropdown on mobile */
    .solutions-dropdown {
        display: none;
    }
  }
}
