@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';
@import '../../@theme/styles/themes';


@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
    .linked-header {
        color: nb-theme(text-basic-color);
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        .header-scholar{
            color: nb-theme(text-primary-color);
        }
    }
  }

  .header-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: transparent;
  }
}
