<div class="row search-page">
    <div class="search-section">
        <div class="title-container">
            <h1 class="title">
                <span class="title-linked">Linked</span>
                <span class="title-scholar">Scholar</span>
            </h1>
            <span class="version-text">β</span>
        </div>
        <h6 class="search-info">Find and analyze researcher networks with ease.</h6>
    </div>

    <input type="text" nbInput shape="round" fieldSize="large" fullWidth class="search-bar"
            placeholder="Search for researchers ...">

    <div class="search-buttons">
        <button type="submit" nbButton status="primary" shape="round">
            Submit
        </button>
        <button type="button" nbButton shape="round" status="info" outline>
            Clear
        </button>
    </div>
</div>