<div class="row">
    <div class="col">
        <nb-card style="margin: 0;">
            <nb-card-body>
                <div style="display: flex; flex-direction: row; gap: 1rem;">
                    <nb-user onlyPicture=""
                    [name]="personName"
                    [picture]="personPicture"
                    badgeText="Teacher"
                    badgeStatus="primary"
                    badgePosition="bottom right"
                    size="giant"
                    shape="semi-round"
                    >
                    </nb-user>
                    <div>
                        <p style="font-weight: bold; font-size: medium;">
                            {{personName}}
                        </p>
                        <p class="profile-title" *ngIf="affiliations.length > 0">
                            {{affiliations[0][1]}}
                        </p>
                        <div *ngIf="researchAreas && researchAreas.length > 0" style="display: flex; flex-direction: row; gap: 0.5rem;">
                            <div *ngFor="let area of researchAreas" style="background: var(--color-primary-transparent-100); padding: 0.2rem; border-radius: 0.5rem;">
                                {{area}}
                            </div>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col">
        <nb-tabset fullWidth>
            <nb-tab tabTitle="Overview" style="padding: 0;">
                <div class="row">
                    <div class="col-6">
                        <nb-card>
                            <nb-card-body>
                                <h5>Publications</h5>
                                <nb-list style="max-height: 75vh;">
                                    <nb-list-item *ngIf="nPages > 1">
                                        <ls-paging-footer
                                            [currentPage]="currentPage" [maxPage]="nPages" (search)="handleNewPage($event)" [disabled]="loadingPages"></ls-paging-footer>
                                    </nb-list-item>
                                    <nb-list-item *ngFor="let paper of papers" style="display: flex; flex-direction: column; align-items: start;">
                                        <p><strong>{{paper.title}}</strong></p>
                                        <p><strong>Citations: </strong>{{paper.citations}} <strong>Year: </strong> {{paper.year}}</p>
                                        <p style="font-size: smaller;"><strong>Authors: </strong><a style="cursor: pointer;" *ngFor="let author of paper.co_authors" (click)='navigateToPerson(author.id)'>{{author.name}}, </a></p>
                                        <p style="font-size: smaller;" *ngIf="(paper.keywords.length > 0)"><strong>Keywords: </strong><span *ngFor="let keyword of paper.keywords">{{keyword}}, </span></p>
                                        <p style="font-size: smaller;" *ngIf="paper.venue"><strong>Venue: </strong><a style="cursor: pointer;" (click)="navigateToVenue(paper.venue.name)">{{paper.venue.name}}</a></p>
                                    </nb-list-item>
                                    <nb-list-item *ngIf="nPages > 1">
                                        <ls-paging-footer
                                            [currentPage]="currentPage" [maxPage]="nPages" (search)="handleNewPage($event)" [disabled]="loadingPages"></ls-paging-footer>
                                    </nb-list-item>
                                </nb-list>
                            </nb-card-body>
                        </nb-card>
                    </div>
                    <div class="col-6">
                        <nb-card>
                            <nb-card-body>
                                <div class="row">
                                    <div class="col">
                                    <h5>Researcher Metrics</h5>
                                        <strong>Publications:</strong> {{paperCount}}<br>
                                        <strong>Citations:</strong> {{citationCount}}<br>
                                        <strong>G-index:</strong> {{gIndex}}<br>
                                        <strong>h-index:</strong> {{hIndex}}<br>
                                        <strong>i10-index:</strong> {{i10Index}}<br>
                                        <strong>Impact:</strong> {{sociabilityIndex}}<br>
                                    </div>
                                    <div class="col">
                                        <ls-stacked-bar 
                                            [data]="chartData" 
                                            [title]="'Research areas'">
                                        </ls-stacked-bar>
                                    </div>
                                </div>
                            </nb-card-body>
                        </nb-card>
                        <nb-card>
                            <nb-card-body>
                                <div class="row">
                                    <div class="col">
                                        <h5>Co-Authorhsip</h5>
                                        <ls-chord-diagram
                                            [matrix]="matrix" 
                                            [labels]="labels"
                                            class="chord-diagram"
                                            [ngClass]="(matrix.length > 0) ? '' : 'chord-diagram-empty'">
                                        </ls-chord-diagram>
                                    </div>
                                    <div class="col">
                                        <nb-list
                                            style="max-height: 50vh;">
                                            <nb-list-item *ngFor="let coAuthor of coAuthors">
                                                <div (click)="navigateToPerson(coAuthor[0])" style="cursor: pointer;">
                                                    <nb-user 
                                                        [name]="coAuthor[2]"
                                                        [picture]="getFakePicture(coAuthor[0])"
                                                        [badgeText]="coAuthor[1]"
                                                        badgePosition="bottom right">
                                                    </nb-user>
                                                </div>
                                            </nb-list-item>
                                            <nb-list-item *ngFor="let _ of coAuthorsPlaceholers">
                                                <ls-user-place-holder></ls-user-place-holder>
                                            </nb-list-item>
                                        </nb-list>
                                    </div>
                                </div>
                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Publications" style="padding: 0;">
                <div class="row">
                    <div class="col-4">
                        <nb-card>
                            <nb-card-body>
                                <h5>Publications</h5>
                                <nb-list style="max-height: 75vh;">
                                    <nb-list-item *ngIf="nPages > 1">
                                        <ls-paging-footer
                                            [currentPage]="currentPage" [maxPage]="nPages" (search)="handleNewPage($event)" [disabled]="loadingPages"></ls-paging-footer>
                                    </nb-list-item>
                                    <nb-list-item *ngFor="let paper of papers" style="display: flex; flex-direction: column; align-items: start;">
                                        <p><strong>{{paper.title}}</strong></p>
                                        <p><strong>Citations: </strong>{{paper.citations}} <strong>Year: </strong> {{paper.year}}</p>
                                        <p style="font-size: smaller;"><strong>Authors: </strong><a style="cursor: pointer;" *ngFor="let author of paper.co_authors" (click)='navigateToPerson(author.id)'>{{author.name}}, </a></p>
                                        <p style="font-size: smaller;" *ngIf="(paper.keywords.length > 0)"><strong>Keywords: </strong><span *ngFor="let keyword of paper.keywords">{{keyword}}, </span></p>
                                        <p style="font-size: smaller;" *ngIf="paper.venue"><strong>Venue: </strong><a style="cursor: pointer;" (click)="navigateToVenue(paper.venue.name)">{{paper.venue.name}}</a></p>
                                    </nb-list-item>
                                    <nb-list-item *ngIf="nPages > 1">
                                        <ls-paging-footer
                                            [currentPage]="currentPage" [maxPage]="nPages" (search)="handleNewPage($event)" [disabled]="loadingPages"></ls-paging-footer>
                                    </nb-list-item>
                                </nb-list>
                            </nb-card-body>
                        </nb-card>
                    </div>
                    <div #personGraphContainer class="col-8" style="position: relative; height: calc(100vh - 9.5rem); display: flex; border-radius: var(--border-radius); box-shadow: var(--shadow); padding: 0;">
                        <ls-person-publications-graph [graphWidth]="graphWidth" [graphHeight]="graphHeight" [papers]="papers">

                        </ls-person-publications-graph>
                    </div>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Network" style="padding: 0;">

            </nb-tab>
        </nb-tabset>
    </div>
</div>