.accordion-item{
    color: var(--text-basic-color);
    transition: all 0.3s ease;
    user-select: none;
}

.accordion-item:hover{
    color: var(--text-primary-color);
}

.initial-col{
    max-height: 70vh;
}

p {
    margin-bottom: 0;
}

.chord-diagram {
    transition: height 3s ease;
    height: 100%;
    overflow: hidden;
    &.chord-diagram-empty {
        height: 0;
    }
}