<nb-card style="padding-left: 5rem; padding-right: 5rem; padding-top: 2rem; padding-bottom: 1rem;">
    <nb-card-header>
        <h1>Configuration</h1>
    </nb-card-header>
    <nb-card-body>
        <h5>Theme</h5>
        <nb-button-group (valueChange)="updateTheme($event)">
            <button nbButtonToggle value="default" [pressed]="themeValue[0] === 'default'">Light</button>
            <button nbButtonToggle value="dark" [pressed]="themeValue[0] === 'dark'">Dark</button>
        </nb-button-group>
        <h5>Units</h5>
        <nb-button-group (valueChange)="updateUnits($event)">
            <button nbButtonToggle value="Imperial" [pressed]="unitsValue[0] === 'Imperial'">Imperial</button>
            <button nbButtonToggle value="Metric" [pressed]="unitsValue[0] === 'Metric'">Metric</button>
        </nb-button-group>
        <h5>Scientific Vocabulary</h5>
        <nb-button-group (valueChange)="updateVocabulary($event)">
            <button nbButtonToggle value="EuroSciVoc" [pressed]="vocabularyValue[0] === 'EuroSciVoc'">EuroSciVoc</button>
            <button nbButtonToggle value="Scopus" [pressed]="vocabularyValue[0] === 'Scopus'">Scopus</button>
            <button nbButtonToggle value="Institutional" [pressed]="vocabularyValue[0] === 'Institutional'">Institutional</button>
        </nb-button-group>
        <h5>Accessibility</h5>
        <p> Work in progress</p>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton (click)="dismiss()" status="primary">Save & Close</button>
    </nb-card-footer>
</nb-card>