<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ls-profit-card></ls-profit-card>
      </div>
      <div class="col-md-6">
        <ls-earning-card></ls-earning-card>
      </div>
    </div>

    <ls-traffic-reveal-card></ls-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ls-ecommerce-charts></ls-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ls-country-orders></ls-country-orders>
  </div>

  <div class="col-xxl-3">
    <ls-progress-section></ls-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ls-ecommerce-visitors-analytics></ls-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ls-user-activity></ls-user-activity>
  </div>
</div>
