<nb-card size="medium">
  <nb-card-header>
    <h3>Visitors Analytics</h3>
    <div class="subtitle">Consumption</div>
  </nb-card-header>
  <nb-card-body>
    <div class="chart-container">
      <div class="chart-header">
        <ls-legend-chart [legendItems]="chartLegend"></ls-legend-chart>
      </div>
      <ls-visitors-analytics-chart [chartData]="visitorsAnalyticsData"></ls-visitors-analytics-chart>
    </div>
  </nb-card-body>

  <ls-slide-out [showVisitorsStatistics]="true">
    <ls-visitors-statistics [value]="pieChartValue"></ls-visitors-statistics>
  </ls-slide-out>
</nb-card>
