<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <ls-status-card [title]="statusCard.title" [type]="statusCard.type">
      <i [ngClass]="statusCard.iconClass"></i>
    </ls-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ls-temperature></ls-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ls-electricity></ls-electricity>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <ls-rooms></ls-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ls-contacts></ls-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ls-solar [chartValue]="solarValue"></ls-solar>

    <ls-kitten></ls-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ls-traffic></ls-traffic>
    <ls-weather></ls-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ls-security-cameras></ls-security-cameras>
  </div>
</div>
